<section class="share-memory">
	
	<div class="row">
		<div class="small-11 medium-8 small-centered columns text-center big-spacer-top small-spacer-bottom">
			<h1>Edit Your Memory</h1>
			<p>We will treasure your memory of Brig. Thank you from the bottom of our hearts.</p>
			<p>We will keep this memory private.</p>
		</div>
	</div>
			
</section>

<%= render 'form' %>

