<div id="share-memory">
	<p><%= link_to "< Back Home", root_path %></p>
	<div class="row">
		<div class="small-12 medium-10 small-centered columns text-center small-spacer">
			<h1>Share Your Memory</h1>
			<p>It means so much to us that you would share your memory with us. We will treasure it. Thank you from the bottom of our hearts.</p>
		</div>
	</div>
			
</div>

<%= render 'form' %>

