@import "globals/all";
@import 'slick';
@import 'slick-theme';

section.home-header {
	text-align: center;
	h1 {
		font-family: 'Vollkorn', "Times New Roman", Times, serif;
		font-size: 3rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	.scroller {
	  div {
		  img {
		  	display: block;
		  	margin-right: auto;
		  	margin-left: auto;
		  }
	    text-align: center;
	    font-size: 30px;
	  }
	}
}

section.intro-brig {
	text-align: center;
	p {
		line-height: 2.5rem;
	}
}
section.share-my-memories {
	p.link {
		text-align: center;
		font-size: 1rem;
		padding-top: 1.5rem;
		a {
			@include link-center-out($blue, $blue);
		}
	}
}
section.share-memory {
	h1 {
		font-family: 'Vollkorn', "Times New Roman", Times, serif;
		font-size: 3rem;
		margin-bottom: 2rem;
	}
	p.back {
		/*margin-left: 2rem;*/
		a {
			@include button ($blue, $white, .5rem 2rem);
			font-size: 1rem;
		}
	}
	p {
		font-size: 1.6rem;
		line-height: 2.5rem;
	}
}

.show-private-memory {
	a.button {
		@include button ($blue, $white, 1rem 2rem);
		font-size: 1.75rem;
		font-weight: 100;
	}
}

p.created-by {
	font-size: 1rem;
	font-style: italic;
	color: darken($gray, 25%);
}

section.all-memories {
	p {
		line-height: 2.5rem;
	}
}

a.link-center-out {
	@include link-center-out(darken($gray, 25%), $blue);
	font-size: 1.5rem;
	&:hover {
		color: $blue;
	}
}