@import "globals/all";

/* Border along top */
.fixed {
	border-top: 5px solid $blue;
}

/* Padding the body to make room for the nav */
.nav-padding {
	margin-top: 80px;
}

/* Padding to the notification to appear below the navbar */
.nav-notification {
	margin-top: 82px;
}
/* BRIG Logo styling */
ul.title-area li.name h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 2rem;
	padding: 0rem;
	line-height: 2rem;
	text-align: center;
	a {
		@include transition(.5s);
		border: 3px solid $text;
		padding: 0.25rem 1rem;
		margin: 1rem;
		&:hover {
			color: $white;
			background-color: $blue;
			border-color: $blue;
		}
	}
}

ul.title-area li.menu-icon a {
	display: inline-block;
	position: relative;
	bottom: 1rem;
}

ul.title-area li.name {
	@media only screen and (max-width: 40em) { width: 50%;};
}

/* Right Nav */
nav.top-bar ul li {
	a {
		@include transition(.3s);
	}
}