<div class="footer">
	<footer>
		<div class="row text-center">
			<div class="small-6 small-centered columns">
				<p>Made with love and a broken heart.</p>
				<p>- <%= link_to "Lauralee", "http://www.lauraleeflores.com" %></p>
			</div>
		</div>
	</footer>
</div>